{% if page.banner_image %}
  {%- if page.permalink == '/' -%}
  <div data-src="{{ page.banner_image }}" class="banner--image uk-container uk-background-cover uk-flex uk-flex-center uk-flex-middle uk-text-center uk-light uk-text-large" uk-height-viewport uk-img uk-parallax="bgy: -200">
    <p uk-parallax="scale: 1,0.1;">Hi, I'm <strong class="uk-text-primary">Josh Cavinder</strong>.<br />
    I'm a front-end web developer.<br />
    ------------<br />
    This site is currently <strong class="uk-text-primary">under construction</strong>.</p>
  </div>

  {%- else -%}
    <div data-src="{{ page.banner_image }}" class="banner--image uk-background-cover uk-height-medium" uk-img></div>
  {%- endif -%}
{% endif %}
