<form action="https://formspree.io/joshcavider@gmail.com" method="POST">
  <fieldset class="uk-fieldset uk-width-xlarge">
    <div class="uk-margin">
      <input class="uk-input" type="text" placeholder="Name" name="name">
    </div>

    <div class="uk-margin">
      <input class="uk-input" type="email" placeholder="Email" name="email">
    </div>

    <div class="uk-margin">
      <textarea class="uk-textarea" rows="5" placeholder="Message" name="message"></textarea>
    </div>

    <div class="uk-margin">
      <input type="submit" value="Submit" class="uk-button uk-button-primary">
    </div>
  </fieldset>
</form>
