<nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
  <div class="uk-navbar-left">
    <a class="uk-logo uk-flex" href="/">
      <img src="/assets/images/logo.png" style="max-height: 40px;">
      <h3 class="uk-margin-small-left">josh-cavinder.com</h3>
    </a>
  </div>
  <div class="uk-navbar-right">
    <ul class="uk-navbar-nav uk-visible@m">
      {% include menu.html %}
    </ul>
    <ul class="uk-hidden@m uk-navbar-nav">
      <li>
        <a href="#offcanvas" uk-toggle>Menu&nbsp;<i class="fal fa-bars"></i></a>
      </li>
    </ul>
  </div>
</nav>
