<div id="offcanvas" uk-offcanvas>
  <div class="uk-offcanvas-bar">
    <button class="uk-offcanvas-close" type="button" uk-close></button>
    <ul class="uk-nav uk-nav-default uk-margin-top">
      {% include menu-offcanvas.html %}
    </ul>
    <hr class="uk-hidden@s">
    <div class="uk-hidden@s uk-flex uk-flex-wrap uk-flex-center">
      {% include icon-nav.html %}
      <p class="uk-link-text uk-text-center">
        <a href="/contact">josh.<span class="uk-hidden">NOSPAM</span>cavinder.<span class="uk-hidden">NOSPAM</span>@<span class="uk-hidden">NOSPAM</span>gmail<span class="uk-hidden">NOSPAM</span>.com</a><br/>
        <a href="/contact">(937)<span class="uk-hidden">NOSPAM</span> 538<span class="uk-hidden">NOSPAM</span> 0547</a>
      </p>
    </div>
  </div>
</div>
